body {
  font-family: "Arial", sans-serif;
  font-size: 1rem; /* 16px */
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.2;
}

h1 {
  font-size: 2rem; /* 32px */
}

h2 {
  font-size: 1.75rem; /* 28px */
}

h3 {
  font-size: 1.5rem; /* 24px */
}

h4 {
  font-size: 1.25rem; /* 20px */
}

h5 {
  font-size: 1rem; /* 16px */
}

h6 {
  font-size: 0.875rem; /* 14px */
}

th,
td {
  padding: 0.5rem; /* 8px */
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0; /* 16px */
}

.hidden {
  display: none !important;
}

@media (max-width: 768px) {
  html {
    font-size: 14px; /* 1rem = 14px */
  }

  h1 {
    font-size: 1.75rem; /* 28px */
  }

  h2 {
    font-size: 1.5rem; /* 24px */
  }

  h3 {
    font-size: 1.25rem; /* 20px */
  }

  h4 {
    font-size: 1.1rem; /* 17.6px */
  }

  h5 {
    font-size: 0.95rem; /* 15.2px */
  }

  h6 {
    font-size: 0.85rem; /* 13.6px */
  }
}



.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
